//-Copyright 2015 Krzysztof Daniel and Scott Weinstein.
//-
//-Licensed under the Apache License, Version 2.0 (the "License");
//-you may not use this file except in compliance with the License.
//-You may obtain a copy of the License at
//-
//-    http://www.apache.org/licenses/LICENSE-2.0
//-
//-Unless required by applicable law or agreed to in writing, software
//-distributed under the License is distributed on an "AS IS" BASIS,
//-WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//-See the License for the specific language governing permissions and
//-limitations under the License.
doctype html
html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous")

        script(type="text/javascript" src="https://rawgit.com/sporritt/jsPlumb/master/dist/js/jsPlumb-2.0.4.js")
        link(rel='shortcut icon', href='/favicon.ico', type="favicon.ico")
        link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    body
        #editorplaceholder
        script(src="/mapeditor/js/vendors.js")
        script(src="/mapeditor/js/main.js")
