#map-container {
    border: 1px solid gray;
    min-height: 800px;
    max-height: 800px;
    min-width: 800px;
    height: auto;
    position: relative;
    z-index: 1;
    padding-left : 1%;
    padding-right: 1%;
}

.errormessage {
	display : none;
}

.item {
    border: 1px solid black;
    background-color: silver;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    border-radius: 10px;
    position: absolute;
    z-index: 2;
}

.wheelnav {
	top: -94px;
    left: -98px;
    position: relative;
    z-index: 23;
    text-shadow: 1px 1px white;
    width: 200px;
    height: 200px;
}

.itemSelected {
    background-color: #FFFFCC !important ;
    z-index : 9;
}

.itemCaption {
    top: -10px;
    left: 23px;
    position: absolute;
    z-index: 2;
    text-shadow: 2px 2px white;
    width: 80px;
    height: 20px;
    max-width: 80px;
    max-height: 20px;
    margin-bottom: -20px;
    font-size: 10px;
    line-height: 11px;
}

.itemMenu {
    width: 130px;
    z-index: 10;
    position: relative;
    left: -35px;
    top: -10px;
}

.mapUserNeed {
    border-width: 4px;
}

.mapExternal {
	background-color: #f2f2f2;
}

#value {
    z-index: 1;
    font-size: smaller;
    top: 3%;
    left: 3%;
    position: absolute;
}

#evolution {
    z-index: 1;
    bottom: 3%;
    right: 3%;
    position: absolute;
    font-size: smaller;
}

#axis-x {
	position: absolute;
	bottom: 2%;
	height: 1px;
	left: 2%;
	right: 2%;
	border: 1px solid gray;
    margin-right: 0;
    margin-left: 0;
}

#arrow-x {
	position: absolute;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 10px solid gray;
    right: 2%;
    bottom: 2%;
}

#axis-y {
    width: 1px;
    position: absolute;
    border-width: 1px;
    top: 2%;
    bottom: 2%;
    left: 2%;
    border: 1px solid gray;
}

.axis-support {
    position: absolute;
    border-width: 1px;
    top: 3%;
    bottom: 2%;
    border: 1px dashed silver;
    z-index: 1;
}

#support-1 {
    left: 25%;
}

#support-2 {
    left: 50%;
}

#support-3 {
    left: 75%;
}

#arrow-y {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 2px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid gray;
    left: 2%;
    top: 2%;
}

.connectionlabel {
	background-color: rgba(255,255,255,0.8);
}

._jsPlumb_endpoint { z-index: 10; }
