#map-container {
    border: 1px solid gray;
    min-height: 800px;
    overflow: auto;
    height: auto;
    background-image: url('/background.svg');
    background-size: 100% 100%;
    position: relative;
    z-index: 2;
}

.item {
    border: 1px solid black;
    background-color: silver;
    min-height: 20px;
    min-width: 20px;
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    border-radius: 10px;
    position: absolute;
}

.itemSelected {
    background-color: #FFFFCC !important ;
}

.itemCaption {
    top: -10px;
    left: 23px;
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px white;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    margin-bottom: -20px;
    font-size: 10px;
}

.itemMenu {
    width: 130px;
    z-index: 10;
    position: relative;
    left: -35px;
    top: -10px;
}

.mapUserNeed {
    border-width: 4px;
    border-style: double;
}

#value {
    z-index: 1;
    top: 40px;
    left: 25px;
    position: absolute;
}

#evolution {
    z-index: 1;
    bottom: 25px;
    right: 10px;
    position: absolute;
}

.connectionlabel {
	background-color: rgba(255,255,255,0.8);
}