//-Copyright 2015 Krzysztof Daniel Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at     http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.
html
    head
        meta(charset='utf-8')
        title Wardley Maps Tool - SVG Export #{mapid}
        script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.js')
        script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.2.0/lodash.min.js')
        link(rel='stylesheet', href='/svg.css')
        link(rel='shortcut icon', href='/favicon.ico', type="favicon.ico")
    body(data-mapid='#{mapid}')
        svg(class='map')
            defs
                marker(id='arrow',orient='auto',markerWidth='6',markerHeight='8',refX='0.1',refY='2')
                    path(d='M0,0 V4 L2,2 Z',fill='grey')
        pre.svg-text
        script(src='/svg.js')
