.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    h4.modal-title Evolution
.modal-body(style="overflow-y: auto;max-height: calc(100vh - 212px);")
    p Value chains on their own are practically useless for understanding an environment because they lack any form of context on how it is changing.  
    p If you think of a company like Nokia, it started as a paper mill became a plastics manufacturer and then eventually a telecommunications company.  During this time its value chains have radically altered.
    p In order to understand an environment we therefore need to somehow capture this aspect of change and combine it with our value chain.
    p The biggest problem with creating an understanding of the context in which something operates is that the process of change and how things evolve can't be measured over time. As uncomfortable as it is, you have to simply accept that you don't have a crystal ball and hence you have to embrace the uncertainty of future change.
    p Fortunately, there’s a neat trick because whilst evolution can’t be measured over time, it can be measured over <b>certainty</b>. 
    p So, this is exactly what you need to do. Take your value chain and map it with an evolution axis.
    p <br/><i>Figure 3 – A Map</i>   
    img.img-thumbnail(src="http://2.bp.blogspot.com/-kob2Zj4i0sQ/VM_dozfTvSI/AAAAAAAAGwk/em5ZZaffNLU/s1600/Screen%2BShot%2B2015-02-02%2Bat%2B20.25.46.png")
    p <br/>
    p All the components in the above map are evolving from left to right due to supply and demand competition.
    p As they evolve their characteristics change from an uncharted domain (the uncertain, rare and constantly changing) becoming more industrialised (the known, the common, the stable). 
    p For example, power supply is something commonplace and well understood. We all know how to use a plug and switch on a socket. However, creative studios and the art of creating a TV show is less common and less well understood, it is more a source of wonder and amazement for many. It should be remembered that power supply was itself a source of wonder and amazement back in the 1890s.
    p <br/>
    p.pull-right
        | Courtesy of Simon Wardley, http://blog.gardeviance.org/
    p <br/>
.modal-footer
    button.btn.btn-primary.btn-default(type="button" data-dismiss="modal") Close