.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    h4.modal-title Value Chain
.modal-body(style="overflow-y: auto;max-height: calc(100vh - 212px);")
    p Once you’ve determined the high level needs then the next step is to flesh this out with the components required to meet those needs. 
    p You do this by creating a chain of needs.
    p It is called this a value chain, as the focus should always be that by meeting the needs of others you hope to create value. 
    p If someone had a need for a cup of tea, then by mixing the components of a kettle, cold water, cup, electricity and tea then you can meet his/her needs. That has value to him/her. 
    p At the top of any value chain should be the visible user need that you are trying to serve and below this are the increasingly invisible (to the user) components that are necessary to serve those needs. Figure 2 provides a value chain for the TV Company.
    p <br/><i>Figure 2 – A Value Chain</i>   
    img.img-thumbnail(src="http://1.bp.blogspot.com/-IhJYIQIYTp0/VM_doW9YqFI/AAAAAAAAGwg/1aFnWy_lBtA/s1600/Screen%2BShot%2B2015-02-02%2Bat%2B20.25.38.png")
    p <br/>
    p In the above diagram then both branded and aggregator sites need content. That content needs a distribution mechanism (e.g. internet broadcast or traditional media) but it also has to be created which requires artistic direction. 
        | Naturally, artistic direction needs a creative studio to make the show but it also needs market analysis i.e. what sort of programs do people want to watch? And so the chain continues down to components such as compute and power.
    p <br/>
    p.pull-right
        | Courtesy of Simon Wardley, http://blog.gardeviance.org/
    p <br/>
.modal-footer
    button.btn.btn-primary.btn-default(type="button" data-dismiss="modal") Close