.modal-header
    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    h4.modal-title User Needs
.modal-body
    p Critical to mapping is to first focus on the user need. 
    p It’s important <b>not</b> to think of your needs i.e. your desire to make a profit or be successful. You need to think careful about what the user actually wants. 
    p There are various techniques for this from writing the press release to creating a user journey. 
    p In the case of the TV Company, the users wanted to be entertained during their leisure time. 
    p There were two routes to satisfying this need, either through a branded online service that delivered the company’s programs or through a content aggregator such as NetFlix or Amazon where the output from many TV companies is combined.  Figure 1 provides a simple needs diagram which shows the user need.
    p <br/><i>Figure 1 – User Needs</i>   
    img.img-thumbnail(src="http://4.bp.blogspot.com/-RkoHImqNPNY/VM_dnV3PXsI/AAAAAAAAGwY/9GxsDGN_w2M/s1600/Screen%2BShot%2B2015-02-02%2Bat%2B20.25.32.png")
    p <br/>
    p.pull-right
        | Courtesy of Simon Wardley, http://blog.gardeviance.org/
    p <br/>
.modal-footer
    button.btn.btn-primary.btn-default(type="button" data-dismiss="modal") Close