#actionMenu(style="display:none")
    p Label:
        a#actionlabel(href="#" data-type="text" data-title="Action label") 
    p Note:
        a#actionnote(href="#" data-type="textarea" data-title="Action Note")